[Unit]
Description=JavaScript Discord Bot Agent
After=network.target


[Service]
Type=simple
ExecStart=npm run start
WorkingDirectory=/home/ec2-user/repos/kazeaisu-discord-bot
EnvironmentFile=/home/ec2-user/repos/kazeaisu-discord-bot/environment
Restart=on-failure

[Install]
WantedBy=multi-user.target